<%= form_for(@tasktype) do |f| %>
  <% if @tasktype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tasktype.errors.count, "error") %> prohibited this tasktype from being saved:</h2>

      <ul>
      <% @tasktype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
