<style type="text/css">

body
{
background-color:#D6F7F8;
}

</style>
<img align="middle" src="/images/niclogo.jpg" width="1400" height="130"/>

 <table border="0" width="90%">
  <tr border="0">
    <td border="0">
  
</td>

  <form action="/addressbooks/logout" method="get">
<td width="40%" align="right"><input type="submit" value="Logout"></td>
</form>
<td><input type="image" src="/images/printer.png" onClick="window.print()"></td>

   </tr>
     </table>
    

<p align="center">
<font face="Monotype Corsovia" size="5" color="blue"><b>Office Management System</b></font><br>
<font face="Monotype Corsovia" size="4" color="BLACK"><b>( Training Division )</b></font><br>
<br>
</p>