<style type="text/css">
p
{
text-align:center;
margin-left:50px;
font-size:1.3em;
color:#800080;
}
body
{
background-color:	#D6F7F8;
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:100px;
}
</style>
<p><%=notice%>
  <br>
  <br>
You will be redirected to homepage in 5 seconds
To go to home page click on the link
<a href ="/addressbooks/login">Logout </a>
 </p>
<meta http-equiv="Refresh" content="5;url=/addressbooks/login" />
