<style type="text/css">

body
{
text-align:center;
font-size:1.5em;
color:#FE4588;
background-color:	#D6F7F8;
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:70px;
}
 img {
    display: block;
    margin-left: auto;
    margin-right: auto
 }

</style>


<img src="/images/niclogo.jpg"/>
<br>
<br>
<br>
<br>
<img src="/images/niclogo.png"/>
<br><br><br>
Your password has been emailed to you<br><br><br>
<form action="/addressbooks/login" method="get">
  <input type="image" src="/images/home.png"/>
</form>